@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body
{
  background-color: Silver;
  color: #4A15F9;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

#header
{
  font-family: inherit;
  border: solid;
  border-width: 5px;
  border-bottom-width: 5px;
  background-color: #301A78;
  height: 100px;
  line-height: 100px;
}
#header-title {
  margin-left: 30px;
  display: block;
  float: left;
  font-size: 100px;
  font-weight: bold;
}
#header a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
}
#nav-bar {
  font-family: inherit;
  font-weight: normal;
  border-bottom: solid 4px;
  border-left: solid;
  border-right: solid;
  background-color: #301A78;
  margin-top: 0px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}
#nav-bar a {
  font-weight: normal;
  margin-left: 80px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
}
#nav-bar   li {
  display: inline;
  padding-left: 20px;
}
#nav-bar a:hover {
  font-weight: bold;
}
.container {
  max-width: 1500px;
  margin 0 auto;
}
body {
  margin: 0;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}
.post, .about, .list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.about-content {
  text-align: justify;
}
.post {
  nth-child: ;
}
.about-author img {
  height: 382px;
  vertical-align: middle;
}
.post-author > span {
  margin-left: 16px;
}
.post-date {
  color: #D2D2D2;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.post-container:nth-child(even) {
  background-color: #f2f2f2;
}
.list-title {
  margin-top: 0px;
  font-size: 50px;
  margin-bottom: 0px;
}
.list-disclaimer {
  font-size: 15px;
}
.footer-disclaimer {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  color: Gray;
  text-align: justify;
}
h1, h2, h3, h4 {
  color: #333;
}
.about {
  text-align: center;
  align-items: center;
}

#footer {
  background: #2f2f2f;
  padding: 30px 0;
}
#footer-nav-bar {
  background-color: #301A78;
  height: 15px;
  line-height: 15px;
  font-size: 15px;
}
#footer-nav a {
  margin-left: 80px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
}
#footer-nav   li {
  display: inline;
  padding-left: 20px;
}
#footer-nav a:hover {
  font-weight: bold;
}
#footer p {
    color: white;
}
